@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #042037;

    .wrapper{
        position: relative;
        width: 80%;
        // height: 10vh;
        margin: 2vh auto;

        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;

            li{
                height: 100%;
                padding: 1.5vh 0.5vw;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border: 1px solid transparent;
                border-radius: 5vh;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover{
                    border: 1px solid #fff;
                }

                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.7vw;
                    font-weight: 500;
                    padding: 0 2rem;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.3s ease;
                }
            }
        }
    }

    #active{
        display: none;
    }

    @media (max-width: 500px){
        .wrapper{
            position: fixed;
            top: 0;
            margin: 0 auto;
            z-index: 90;
            right: -100%;
            height: 100%;
            width: 100%;
            background: #07355a;
            transition: all 0.6s ease-in-out;

            ul{
                display: block;
            }
        }

        #active:checked ~ .wrapper{
            right:0;
            z-index: 90;
        }
        .menu-btn{
            display: block;
            position: absolute;
            z-index: 100;
            right: 20px;
            top: 20px;
            height: 50px;
            width: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        .menu-btn span,
        .menu-btn:before,
        .menu-btn:after{
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            left: 30%;
            width: 40%;
            border-bottom: 2px solid #fff;
            transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        .menu-btn:before{
            transform: translateY(-8px);
        }
        .menu-btn:after{
            transform: translateY(8px);
        }
        
        
        .close {
            z-index: 1;
            width: 100%;
            height: 100%;
            pointer-events: none;
            transition: background .6s;
        }
        
        #active:checked + .menu-btn span {
            transform: scaleX(0);
        }
        #active:checked + .menu-btn:before {
            transform: rotate(45deg);
            border-color: #fff;
        }
        #active:checked + .menu-btn:after {
            transform: rotate(-45deg);
            border-color: #fff;
        }
        .wrapper ul{
            position: absolute;
            top: 60%;
            left: 50%;
            height: 90%;
            transform: translate(-50%, -50%);
            list-style: none;
            text-align: center;
        }
        .wrapper ul li{
            height: 10%;
            margin: 15px 0;

            // remove the hover effect
            &:hover{
                border: none;
            }
        }
        .wrapper ul li a{
            text-decoration: none;
            font-size: 30px;
            font-weight: 500;
            padding: 5px 30px;
            color: #fff;
            border-radius: 50px;
            position: absolute;
            line-height: 50px;
            margin: 5px 30px;
            opacity: 0;
            transition: all 0.3s ease;
            transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        .wrapper ul li a:after{
            position: absolute;
            content: "";
            background: #fff;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: 50px;
            transform: scaleY(0);
            z-index: -1;
            transition: transform 0.3s ease;
        }
        .wrapper ul li a:hover:after{
            transform: scaleY(1);
        }
        .wrapper ul li a:hover{
            color: #1a73e8;
        }
        input[type="checkbox"]{
            display: none;
        }

        #active:checked ~ .wrapper ul li a{
            opacity: 1;
        }
        .wrapper ul li a{
            transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateX(100px);
        }
        #active:checked ~ .wrapper ul li a{
            transform: none;
            transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
            transition-delay: .6s;
            transform: translateX(-100px);
        }
    }

    // content part =====================================
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;

        .logos{
            margin: 5vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 70vw;
        }

        h2{
            color: #fff;
            font-size: 2.7vh;
            font-weight: 800;
            margin: 1vh 0;
        }
        h1{
            color: #fff;
            font-size: 4.7vh;
            font-weight: 800;
            margin: 5px;
        }
        @media (max-width: 500px){
            h1{
                font-size: 2.5vh;
            }
            h2{
                font-size: 1.8vh;
            }
        }
        h3{
            color: #fff;
            font-size: 45px;
            font-weight: 800;
            margin: 5px;
            font-family: 'Tillana', cursive;
        }
        p{
            color: #fff;
            font-size: 3vh;
            font-weight: 800;
            margin: 5px;
            margin-bottom: 0;
        }

        .date{
            color: rgb(246, 50, 50);
        }

        .description{
            margin-top: 10vh;
            background:  url("./images/bg.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            transform: translateX(-10px);
            border-top-left-radius: 200px;
            box-shadow: 1vh 0 0 0 rgba(255, 255, 255, 0.8) inset;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            
            img{
                width: 80%;
                height: 90%;

                // add some modern borders
                border: 1px solid #fff;


            }

            p{
                font-size: 2.8vh;
                font-weight: 500;
                font-family: 'Crimson Text', serif;
                font-style: italic;
                margin: 0 8vw;
                margin-top: 2vh;
                text-align: justify;
                transform: translateY(-7vh);
            }

            @media (max-width: 500px){
                p{
                    font-size: 2.3vh;
                    margin: 0 5vw;
                }
            }

            .to_right{
                float: right;
                margin-right: 100px;
                margin-bottom: 30px;
                // height: 100vh;

                @media (max-width: 500px){
                    margin-right: 0;
                    margin-left: 10vw;
                    float: none;
                }

                h2{
                    font-weight: 700;
                    font-size: 2.7vh;

                    &::after{
                        content: "";
                        display: block;
                        width: 80%;
                        height: 1px;
                        background: #fff;
                        margin-top: 10px;
                        transform: translate(-13px, -10px);
                    }
                }

                ul{
                    li{
                        list-style: none;
                        margin: 10px 0;
                        font-size: 2.2vh;
                        font-weight: 800;
                        color: #fff;
                        font-style: italic;
                    }
                }
            }
        }

        // submission =====================================
        .submission{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 10vw;
            width: 70%;

            @media (max-width: 500px){
                grid-template-columns: 1fr;
                justify-content: center;
                width: 100%;
            }


            .left{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    margin-bottom: 10px;
                }

                h2{
                    font-weight: 600;

                    &::after{
                        content: "";
                        display: block;
                        width: 55%;
                        height: 1px;
                        background: #fff;
                        margin-top: 10px;
                        transform: translate(-5px, -10px);
                    }
                }

                h3{
                    font-weight: 600;
                    font-size: 23px;
                    margin-top: 10px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: italic;
                    
                    .date{
                        color: red;
                    }
                }

                p{
                    font-size: 20px;
                    font-weight: 500;
                    font-family: 'Crimson Text', serif;
                    font-style: italic;
                    text-align: justify;
                }
            }

            .right{
                width: 80%;
                // background-color: green;

                h2{
                    font-size: 20px;
                    font-weight: 600;
                    font-family: 'Crimson Text', serif;
                }

                h3{
                    font-weight: 600;
                    font-size: 23px;
                    margin-top: 10px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: italic;
                    
                    .date{
                        color: red;
                    }
                }
                
                p{
                    font-size: 20px;
                    font-weight: 500;
                    font-family: 'Crimson Text', serif;
                    font-style: italic;
                    margin-bottom: 0;
                }
                a{
                    color: red;
                }

                .details{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 10px;
                    margin-top: 10px;

                    .leftie{
                        width: 90%;
                        p{
                            font-size: 18px;
                            font-weight: 500;
                            font-style: normal;
                            font-family: 'Crimson Text', serif;
                            margin-bottom: 0;
                        }
                    }

                    .rightie{
                        width: 90%;

                        p{
                            font-size: 18px;
                            font-weight: 500;
                            font-style: normal;
                            font-family: 'Crimson Text', serif;
                            margin-bottom: 0;
                        }
                    }
                }

                ul{
                    margin-left: 40px;
                    font-size: 20px;
                    font-style: italic;
                    color: #fff;

                    li{
                        font-family: 'Crimson Text', serif;
                    }

                    ul{
                        margin-left: 60px;
                        font-size: 20px;
                        font-style: italic;
                        color: #fff;

                        li{
                            font-family: 'Crimson Text', serif;
                            text-align: justify;
                            list-style: square;
                        }
                    }
                }
            }
        }


        // speakers =====================================
        .speakers{
            width: 70%;
            margin-top: 10vh;

            h2{
                font-size: 30px;
                font-weight: 600;
                margin-top: 20px;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                
                &::after{
                    content: "";
                    display: block;
                    height: 1px;
                    background: #fff;
                    margin-top: 3vh;
                    transform: translate(-5px, -10px);
                }

                @media (max-width: 500px){
                    font-size: 25px;
                    margin: 0 5vw;
                }
            }

            .speakers_container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 2vh 0;

                @media (max-width: 500px){
                    grid-template-columns: 1fr;
                    width: 100%;
                }

                .speaker{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 3vh 0;
                    padding: 2vh 0;

                    @media (max-width: 500px){
                        flex-direction: column;
                        padding: 0;
                        margin: 0;
                    }

                    .left{
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 3vh;

                        @media (max-width: 500px){
                            width: 70%;
                            margin: 0;
                            margin-bottom: 5vh;
                        }

                        img{
                            width: 200px;
                            height: 200px;
                            object-fit: cover;
                            border-radius: 50%;
                            border: 2px solid #fff;
                        }

                        h3{
                            font-size: 20px;
                            font-weight: 600;
                            font-family: 'Montserrat', sans-serif;
                            margin-top: 10px;
                            font-style: italic;
                        }

                        p{
                            font-size: 18px;
                            font-weight: 500;
                            font-family: 'Crimson Text', serif;
                            font-style: italic;
                            text-align: center;
                            margin-bottom: 0;
                        }

                        // modern link button
                            a{
                                color: #fff;
                                text-decoration: none;
                                font-size: 18px;
                                font-weight: 500;
                                font-family: 'Crimson Text', serif;
                                font-style: italic;
                                border: 2px solid #fff;
                                padding: 5px 10px;
                                border-radius: 5px;
                                transition: all 0.3s ease-in-out;
                                margin-top: 2vh;

                                &:hover{
                                    background-color: #fff;
                                    color: #000;
                                }
                            }
                    }

                    .right{
                        width: 70%;
                        height: 40vh;
                        overflow-y: scroll;
                        padding: 0 3vw;

                        @media (max-width: 500px){
                            width: 90%;
                            height: 100%;
                            overflow-y: visible;
                            padding: 2vh 2vw;
                        }

                        h3{
                            font-size: 20px;
                            font-weight: 600;
                            font-family: 'Montserrat', sans-serif;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            font-style: italic;
                        }

                        p{
                            font-size: 18px;
                            font-weight: 500;
                            font-family: 'Crimson Text', serif;
                            font-style: italic;
                            text-align: justify;
                        }
                    }
                }

                .speaker:not(:last-child){
                    border-bottom: 1px solid #fff;
                }
            }

            @media (max-width: 500px){
                width: 100%;
                h2{
                    font-size: 20px;
                }
            }

        }

        // program =====================================
        .program{
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 10vh;

            .first{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                background-color: #052641;

                .left, .right{
                    border: 1px solid #000;
                    width: 50%;
                    height: 100%;
                    padding: 2vh 0;
                    text-align: center;
                    line-height: 2;
                    font-size: 23px;
                    
                    p{
                        font-family: 'Crimson Text', serif;
                        font-weight: 500;
                    }
                }
            }

            .date{
                background-color: #07355a;
                font-size: 55px;
                padding: 2vh 0;
                color: #fff;
                text-align: center;
            }

            .details{
                background-color: white;
                width: 100%;
                margin-top: 2vh;

                .container_session{
                    padding-left: 2vw;
                    margin-bottom: 8vh;

                    .time{
                        margin-top: 1vh;
                        height: 100%;
                        display: flex;
                        font-size: 30px;
                        font-weight: 700;
                    }

                    .chair{
                        margin-top: 1vh;
                        height: 100%;
                        display: flex;
                        font-size: 30px;
                        font-weight: 700;
                    }

                    .desc{
                        width: 95%;
                        background-color: #aabed7;
                        margin-top: 1vh;
                        padding: 1vh 0.3vw;

                        p{
                            font-size: 30px;
                            line-height: 2;
                            font-weight: 500;
                            color: #000;
                        }

                        span.talk_title p{
                            font-size: 30px;
                            font-weight: 700;
                            margin: 4vh 0;
                            text-align: center;
                            line-height: 1.5;
                        }

                    }

                    .workshop{
                        width: 95%;
                        background-color: #aabed7;
                        margin-top: 1vh;
                        padding: 1vh 0.3vw;
                        background-color: greenyellow;

                        p{
                            font-size: 30px;
                            line-height: 2;
                            font-weight: 500;
                            color: #000;
                        }
                    }

                    .dinner{
                        width: 95%;
                        background-color: #aabed7;
                        margin-top: 1vh;
                        padding: 1vh 0.3vw;
                        background-color: orange;

                        p{
                            font-size: 30px;
                            line-height: 2;
                            font-weight: 500;
                            color: #000;
                        }
                    }

                    .desc_2{
                        width: 95%;
                        background-color: #dbdbdb;
                        margin: 3vh 0;

                        p{
                            font-size: 30px;
                            line-height: 1.8;
                            font-weight: 500;
                            color: #000;

                            span{
                                font-weight: 700;
                            }
                        }
                    }
                }

                h2{
                    padding-left: 2vw;
                    margin-bottom: 8vh;
                    font-size: 30px;
                    line-height: 2;
                    font-size: 40px;
                    font-weight: 500;
                    color: #000;
                    text-align: center;
                }

                .date{
                    background-color: #07355a;
                    font-size: 55px;
                    padding: 2vh 0;
                    width: 50%;
                    text-align: center;
                    margin: 0 auto;
                    color: #fff;
                }
            }

            @media (max-width: 500px){
                width: 100%;
                h1{
                    font-size: 40px;
                }
            }
        }

        // registration =====================================
        .registration{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (max-width: 500px){
                width: 100%;
            }


            h1{
                font-size: 30px;
                color: #D6C48F;
                font-weight: 500;
                font-family: 'Crimson Text', serif;
                font-style: italic;
                text-align: center;
                margin-bottom: 20px;
            }

            table {
                font-family: Arial, sans-serif;
                border-collapse: collapse;
                width: 60%;
                color: #fff;
                border: 1px solid #D6C48F;
                margin-bottom: 20px;
            }
              
            th, td {
                color: #fff;
                padding: 10px 20px;
                font-family: "Crimson Text", serif;
                font-style: italic;
                font-size: 20px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }

            td:nth-child(even) {
                background-color: #D6C48F;
                color: #000;
            }

            @media (max-width: 500px){
                table{
                    width: 100%;
                }

                th, td{
                    padding: 5px 15px;
                    font-size: 15px;
                }
            }

            p{
                font-size: 20px;
                color: #D6C48F;
                font-weight: 500;
                font-family: 'Crimson Text', serif;
                font-style: italic;
                text-align: left;
                margin-bottom: 20px;
            }

            div{
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 60%;

                @media (max-width: 500px){
                    width: 100%;
                }
                
                .leftie{
                    width: 160%;

                    p{
                        font-size: 22px;
                        width: 100%;
                        font-weight: 500;
                        font-style: normal;
                        font-family: 'Crimson Text', serif;
                        font-style: italic;
                        margin-bottom: 0;

                        @media (max-width: 500px){
                            font-size: 15px;
                        }
                    }
                }

                .rightie{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img{
                        width: 80%;
                    }
                    p{
                        font-size: 21px;
                        font-weight: 800;
                        font-style: normal;
                        font-family: 'Montserrat', sans-serif;
                        text-align: center;
                        margin-bottom: 0;
                    }

                    @media (max-width: 500px){
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        // committees =====================================
        .committees{
            margin-top: 8vh;
            background:  url("./images/bg.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            transform: translateX(-10px);
            border-top-left-radius: 200px;
            box-shadow: 7px 0 0 0 rgba(255, 255, 255, 0.8) inset;

            .to_right{
                margin-left: 50%;
                margin-right: 50px;
                transform: translateY(-30px);

                @media (max-width: 768px){
                    margin-left: 5vw;
                    margin-right: 5vw;
                    transform: translateY(0);
                }

                p{
                    font-family: "Crimson Text", serif;
                    font-style: italic;
                    text-align: justify;
                    font-size: 2.3vh;
                    font-weight: 500;
                }
                
                h2{
                    &::after{
                        content: "";
                        display: block;
                        width: 300px;
                        height: 1px;
                        background-color: #fff;
                    }
                }

                @media (max-width: 768px){
                    margin-left: 5vw;
                    margin-right: 5vw;
                    transform: translateY(0);

                    h2{
                        font-size: 2.2vh;
                        &::after{
                            content: "";
                            display: block;
                            width: 150px;
                            height: 1px;
                            background-color: #fff;
                        }
                    }
                }

                h4{
                    font-weight: 800;
                    font-size: 20px;
                    margin-bottom: 0;
                    color: #fff;
                }

            }
        }
        .center{
            margin: 30px 0;
            @media (max-width: 768) {
                margin: 0 0;
            }

            .wrapComitee{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: 20px;
                padding: 0 5vw;

                @media (max-width: 768px) {
                    display: block;
                }

                .pars{
                    @media (max-width: 768px) {
                        margin-top: 40px;
                    }
                    h2{
                        font-size: 25px;
                        font-weight: 800;
                        font-family: 'Montserrat', sans-serif;
                        color: red;
                        margin-bottom: 5px;
                        text-align: center;

                        @media (max-width: 768px){
                            font-size: 20px;
                        }
                    }
                    .paragraphs{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;

                        @media (max-width: 768px){
                            grid-template-columns: 1fr;
                            margin: 0 15vw;
                        }

                        p{
                            font-family: "Crimson Text", serif;
                            font-style: italic;
                            text-align: justify;
                            font-size: 22px;
                            font-weight: 500;
                        }
                    }
                }
                .organizingComitee{
                    flex: 1;
                    height: 50vh;
                    @media (max-width: 768px) {
                        height: 30vh;
                    }
                    p{
                        margin-top: 200px;
                        padding: 20px;
                        background-color: red;
                        font-size: 22px;
                        font-weight: 500;
                        font-style: italic;
                        font-family: "Crimson Text", serif;
                        @media (max-width: 768px) {
                            margin-top: 30px;
                        }
                    }
                }
            }

        }

        // venue =====================================
        .venue{
            display: flex;
            width: 80%;
            margin: 50px auto;
            padding: 10px;
            justify-content: space-between;
            align-items: center;
            border: solid 2px #fff;
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8) inset;
            border-radius: 20px;

            @media (max-width: 768px){
                flex-direction: column;
                width: 90%;
            }


            .left{
                margin-right: 30px;
                h1{
                    font-size: 25px;
                    color: #D6C48F;
                    font-weight: 700;
                    margin-bottom: 20px;

                    &::after{
                        content: "";
                        display: block;
                        width: 100%;
                        height: 1px;
                        margin-top: 15px;
                        background-color: #D6C48F;
                    }
                }

                p{
                    font-size: 25px;
                    color: #fff;
                    font-weight: 500;
                    text-align: justify;
                    margin-top: 50px;
                }
            }

            @media (max-width: 900px){
                .left{
                    margin-right: 0;
                    margin-bottom: 30px;
                    h1{
                        font-size: 20px;
                        margin-bottom: 10px;
                        &::after{
                            margin-top: 10px;
                        }
                    }

                    p{
                        font-size: 15px;
                        margin-top: 20px;
                    }
                }

                .right{
                    width: 100%;

                    iframe{
                        width: 100%;
                        height: 300px;
                    }
                }
            }
        }
    }
}